<div class="container">
    <div>
        <h2>Ajouter une Robe</h2>
    </div>
</div>
<form>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Id Robe</label>
        <input type="number" [(ngModel)]="newRobe.idRobe"
        name="idRobe"class="form-control">
    </div>


    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Nom Robe</label>
        <input type="text" [(ngModel)]="newRobe.nomRobe"
        name="nomRobe"class="form-control">
    </div>


    <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Prix Robe</label>
        <input type="number" [(ngModel)]="newRobe.prixRobe"
        name="prixRobe"class="form-control">
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Datte création</label>
        <input type="date" [(ngModel)]="newRobe.dateCR2ATION"
        name="dateCréation"class="form-control">
    </div>
    <div class="mt-2">
        <button type="submit"  (click="addRobe()" class="btn btn-success">Ajouter</button>)
    </div>
</form>
</div>